<div class="home-wrapper">

    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxFlex="200px"> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="200px"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Prioridad </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.priority}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Estatus </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.status_lavel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxFlex="50px">
            <mat-icon aria-hidden="false" aria-label="Example home icon">preview</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="50px" style="cursor: pointer;" (click)="showAdd(element)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">preview</mat-icon>
        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>

<div class="example-button-container app-add-fab">
    <button mat-fab color="primary" (click)="showAdd()">
      <mat-icon>add</mat-icon>
    </button>
</div>