html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #f1f1f1;
	font-family: 'Roboto', sans-serif;
}

.app-header {
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .2), 0 3px 5px 0 rgba(0, 0, 0, .14), 0 1px 9px 0 rgba(0, 0, 0, .12);
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.box {
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	max-width: 300px;
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: 20px;
	opacity: .8;
	z-index: -1;
}

.home-wrapper {
	margin: auto;
}

.login-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
}

.login-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
	width: 100%;
}

.login-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.login-wrapper .mat-card {
	padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}

.error-message {
	color: #ff4081 !important;
}

.app-menu {
	float: right;
}

.fill-space {
	flex: 1 1 auto;
}

.app-add-fab {
	z-index: 100;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.mat-dialog-container {
    background: #f1f1f1;
}

.make-warn {
    background-color: #ff00000f;
}

@media (max-width: 600px) {
	
	.login-wrapper {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	body {
		background: #FFFFFF;
	}

}

